.custom-about-team(v-if='props')
  .custom-about-team__background
    .custom-about-team__title(v-html='props.title')
    .custom-about-team__tagline(v-html='props.tagline')
    .custom-about-team__content(v-html='props.content')
    .custom-about-team__full-member-container
      .custom-about-team__member(v-for='(member, i) in props.members', :style="{ backgroundImage: 'url(' + member.image + ')'}", v-if='i <= 7')
        .custom-about-team__overlay
          .custom-about-team__name(v-html='member.name')
          .custom-about-team__position(v-html='member.position')
        .custom-about-team__bio(v-html='member.bio')
    .custom-about-team__partial-member-container
      .custom-about-team__member(v-for='(member, i) in props.members', :style="{ backgroundImage: 'url(' + member.image + ')'}", v-if='i >= 8 && i <= 10')
        .custom-about-team__overlay
          .custom-about-team__name(v-html='member.name')
          .custom-about-team__position(v-html='member.position')
        .custom-about-team__bio(v-html='member.bio')
    .custom-about-team__partial-member-container
      .custom-about-team__member(v-for='(member, i) in props.members', :style="{ backgroundImage: 'url(' + member.image + ')'}", v-if='i >= 11')
        .custom-about-team__overlay
          .custom-about-team__name(v-html='member.name')
          .custom-about-team__position(v-html='member.position')
        .custom-about-team__bio(v-html='member.bio')
