.menu(v-if='props')
  .menu__overlay(:class="{ 'menu__overlay--short': $route.meta.short }")
    transition(name='title-fade')
      .menu__tag-box(v-if='!$store.state.menu')
        .menu__tagline(v-html='$route.meta.tagline')
        center
          .menu__appointment(@click='requestAppointment', v-if='$route.meta.appointment') Request Appointment
  .menu__container
    .menu__link-wrapper(
      v-for='(link, i) in links'
      :key='i'
      v-if='link.navigation'
      :style="styleObject"
      :class='{"active": $route.name  === link.name && !$store.state.menu, "menu__link-wrapper--current": $route.name === link.name, "not-active": $route.name  != link.name && $store.state.menu}'
      )
      .menu__link-container-video(v-if='link.video')
        video.menu__link-video(loop muted autoplay)
          source(:src='link.video' type='video/mp4')
        .menu__link-overlay
        .menu__link-expanded-overlay  
        .menu__link(
          v-on:click='closeMenu(link)') {{ link.name }}
        //- .menu__content-container
        //-   .menu__tagline(v-html='link.tagline')
        //-   .menu__appointment(@click='requestAppointment') Request Appointment
      
      .menu__link-container-image(
        v-if='link.image'
        :class='{"menu__link-container-image--disabled": !$store.state.menu}'
        :style="{backgroundImage: 'url(' + link.image + ')'}"
        ) 
        .menu__link-overlay
        .menu__link-expanded-overlay
        .menu__link(
          v-on:click='closeMenu(link)') {{ link.name }}
        .menu__submenu(v-if='link.children')
          
  .menu__waypoint-container
    .menu__waypoint(v-waypoint="{ active: true, callback: onWaypoint }")
              
