.custom-treatments-braces(v-if='props')
  .custom-treatments-braces__background
    .custom-treatments-braces__container
      .custom-treatments-braces__col
        .custom-treatments-braces__image(:style="{ backgroundImage: 'url(' + props.image + ')'}")
      .custom-treatments-braces__col
        .custom-treatments-braces__title(v-html='props.title')
        .custom-treatments-braces__content(v-html='props.content')
