.block-parallax
  .block-parallax__background(v-parallax='0.1', :style="{backgroundImage: 'url(' + props.background + ')'}")
    .block-parallax__tagline(v-html='props.tagline', v-waypoint='{ active: true, callback: onWaypointEl}', :class='{ "fade": fadeEl }')
