.block-parallax
  .block-parallax__waypoint(v-waypoint='{ active: true, callback: onWaypointEl}')
  .block-parallax__background(v-parallax='0.1', :style="{backgroundImage: 'url(' + props.background + ')'}")
    .block-parallax__tagline(v-html='props.tagline', :class='{ "fade": fadeEl }')
