.block-gallery
  .block-gallery__waypoint(v-waypoint='{ active: true, callback: onWaypoint }')
  .block-gallery__title Smile Gallery
  .block-gallery__container
    .block-gallery__image(v-for='(image, i) in props.gallery', :key='i', :style="{ backgroundImage: 'url(' + image.image + ')', transitionDelay: i * 0.2 + 's' }", :class="{ 'block-gallery__image--active': fadeImage }")
