.pages-home 
  Loader(v-show='loading')
  div(v-if='props')
    CustomHomeWelcome(:props='props.custom_home_welcome')
    BlockParallax(:props='props.block_parallax')
    BlockTestimonials(:props='props.block_testimonials')
    BlockGallery(:props='props.block_gallery')
