.hero-home
  .hero-home__container
    video.hero-home__hero(loop muted autoplay)
      source(src='/static/HomeVideo.mp4' type='video/mp4')
    .hero-home__tag-box
      .hero-home__tagline Smiles, Inside and Out
      center.menu__form-links-ctnr
        //- router-link.hero-home__appointment(to='/contact') Request Appointment
        a.hero-home__appointment(href='https://formsroostergrin.com/drhughesortho/virtual-page/index.html', target='blank') Virtual Consultation
        a.hero-home__appointment(href='https://formsroostergrin.com/drhughesortho/aao-forms/combined/Privacy_Covid_Consent_Form.html', target='_blank') COVID-19 Form
        a.hero-home__appointment(href='https://drhughesortho.patientrewardshub.com/', target='_blank') Patient Rewards
          .hero-home__button__container
            img.hero-home__appointment__image(src="http://www.drhughesortho.com/wp-content/uploads/patient-rewards-kids-club.png")
            img.hero-home__appointment__image(src="http://www.drhughesortho.com/wp-content/uploads/patient-rewards-1.png")