.hero-home
  .hero-home__container
    video.hero-home__hero(loop muted autoplay)
      source(src='/static/HomeVideo.mp4' type='video/mp4')
    .hero-home__tag-box
      .hero-home__tagline Smiles, Inside and Out
      center
        //- router-link.hero-home__appointment(to='/contact') Request Appointment
        a.hero-home__appointment(href='https://formsroostergrin.com/drhughesortho/virtual-page/index.html', target='blank') Virtual Consultation
