.hero-home
  .hero-home__container
    video.hero-home__video(loop muted autoplay)
      source.hero-home__source(src='/static/HomeVideo.mp4' type='video/mp4')
  .hero-home__box
    .hero-home__tagline Smiles, Inside and Out
    .hero-home__appointment Request Appointment
