.footer(v-if='props')
  .footer__background
    .footer__container
      .footer__social
        .footer__social--text Follow us:
        .footer__social--logos
          a.footer__social--facebook(:href='props.acf.footer.facebook', target='_blank')
            Icon(name='Facebook')
          a.footer__social--instagram(:href='props.acf.footer.instagram', target='_blank')
            Icon(name='Instagram')
        a.footer__social--reviews(:href='props.acf.footer.google_reviews_url', target='_blank') Write a Review
      .footer__hours
        .footer__hours--text Office Hours
        .footer__hours--hours(v-html='props.acf.footer.hours')
      .footer__info
        a.footer__location(:href='props.acf.footer.address_link', target='_blank')
          .footer__location--icon
            Icon(name='Location')
          a.footer__location--text(v-html='props.acf.footer.address')
        .footer__seperator
        a.footer__phone(:href='props.acf.footer.phone_link')
          .footer__phone--icon
            Icon(name='Phone')
          a.footer__phone--text(v-html='props.acf.footer.phone')
      .footer__credit
        .footer__referral(@click='toggleModalReferral')
          .footer__referral--icon
            Icon(name='Referral')
          .footer__referral--text Refer a Patient
        .footer__copyright 2018 David Hughes Orthodontics
        a.footer__design(href='https://roostergrin.com', target='_blank') Online Advantage | Rooster Grin Media
  
  transition(name='fade-in-modal')
    ModalReferral(v-if='showModalReferral', @closeReferralModal='toggleModalReferral')
