.navigation-desktop
  position: fixed
  z-index: 99
  padding: 1rem 0
  width: 100%
  color: $white

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    max-width: 1280px

  &__item
    display: flex
    align-items: center
    justify-content: center

    &:first-child
      justify-content: flex-start

    &:last-child
      justify-content: flex-end

  &__phone
    display: flex
    align-items: center

    &--icon
      margin-right: 5px
      width: 20px
      height: 24px

      svg
        width: 20px
        height: 24px
        fill: $white

    &--number
      color: $white
      font-weight: 300

  &__logo
    svg
      width: 260px
      height: 100px

  &__login-container
    display: flex
    align-items: center
    justify-content: center
    border-right: 1px solid $white
    padding-right: 8px

  &__login-icon
    margin-right: 5px
    width: 20px
    height: 30px

    svg
      width: 20px
      height: 26px
      fill: $white

  &__login-text
    text-transform: uppercase

  &__menu-container
    display: flex
    align-items: center
    margin-left: 8px
    cursor: pointer

  &__menu
    margin-right: 6px
    width: 46px
    text-transform: uppercase

  &__hamburger
    @include hamburger-basic($white, .25s, 40px, 24px)
    bottom: 4px
