.navigation-desktop(v-if='props', :class="{'navigation-desktop__scroll': $store.state.nav }")
  .navigation-desktop__container
    .navigation-desktop__item
      a.navigation-desktop__phone(:href='props.acf.navigation.phone_link')
        Icon.navigation-desktop__phone--icon(name='Phone')
        .navigation-desktop__phone--number(v-html='props.acf.navigation.phone')
    .navigation-desktop__item(:class="{ 'navigation-desktop__item--scroll': $store.state.nav }")
      .navigation-desktop__logo-container(v-scroll-to='{el: "#head", container: "body", duration: 750, easing: "ease-in-out", x: false, y: true}',  @click='closeMenu')
        Icon.navigation-desktop__logo(name='LogoWhite', :class="{ 'navigation-desktop__logo--scroll': $store.state.nav }", @click='closeMenu')
    .navigation-desktop__item
      .navigation-desktop__menu-container(@click='toggleMenu')
        .navigation-desktop__menu
          span(v-if='!$store.state.menu') Menu
          span(v-if='$store.state.menu') Exit
        .navigation-desktop__hamburger(:class="{ 'navigation-desktop__hamburger--active': $store.state.menu }")
          span
          span
          span
          span
