.hero-treatments
  .hero-treatments__hero(style="background-image: url('/static/TreatmentsHero.jpg')")
    .hero-treatments__tag-box
      .hero-treatments__tagline Treatments
      center
        router-link.hero-treatments__appointment(to='/contact') Request Appointment
