.pages-treatments
  Loader(v-show='loading')
  div(v-if='props')
    HeroTreatments
    BlockRows(:props='props.block_rows')
    CustomTreatmentsBraces(:props='props.custom_treatments_braces')
    CustomTreatmentsTech(:props='props.custom_treatments_tech')
    BlockTestimonials(:props='props.block_testimonials')
    BlockGallery(:props='props.block_gallery')
