.pages-first-visit
  Loader(v-show='loading')
  div(v-if='props')
    BlockRows(:props='props.block_rows')
    BlockParallax(:props='props.block_parallax')
    BlockTestimonials(:props='props.block_testimonials')
