.hero-community
  .hero-community__hero(style="background-image: url('/static/OurCommunityHero.jpg')")
    .hero-community__tag-box
      .hero-community__tagline Our Community
      center
        router-link.hero-community__appointment(to='/contact') Request Appointment
